.editor-styles-wrapper{
	.wp-block-post-content{
		.wp-block-group{
			border: 1px dotted #777;
		}
	}
}

 .editor-visual-editor {
	overflow: visible;
}
.interface-navigable-region.components-resizable-box__container.edit-post-meta-boxes-main.is-resizable {
	max-height: none !important;
	height: auto !important;
}
.editor-visual-editor{
	min-height: 420px;
}
.block-editor-block-list__block.wp-block-quote,
.block-editor-block-list__block.wp-block-pullquote{
	background: #eee;
	padding: 20px;
}
.block-editor-block-list__block.wp-block-quote p.wp-block-paragraph:first-child,
.block-editor-block-list__block.wp-block-pullquote p.wp-block-paragraph:first-child{
	margin-top: 0;
}
.edit-post-meta-boxes-area .postbox .handlediv,
.edit-post-meta-boxes-area .postbox .handle-order-higher,
.edit-post-meta-boxes-area .postbox .handle-order-lower{
	display: inline-block;
	vertical-align: middle;

}