.msw-page-banner {
	background-position: center;
	background-size: cover;
	height: 40rem;
	position: relative;

	&:before{
		background: linear-gradient($brand-black, rgba($brand-black,0));
		content: '';
		display: block;
		opacity: 0.7;
		position: absolute;
		height: 100%;
		width: 100%;
		inset: 0;
	}

	@media (max-width: $laptop) {
		height: 40vw;
	}
}