.home {
}


.hero{
	height: 100vh;
	overflow: hidden;
	position: relative;

	.hero-bg{
		background: #000 no-repeat center;
		background-size: cover;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.hero-slider{
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 2;

		.slick-list,
		.slick-track,
		.slick-slide,
		.slick-slide > div,
		.slide{
			height: 100%;
		}
		.img{
			background: no-repeat center;
			background-size: cover;
			height: 100%;
			width: 100%;
		}

		img{
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

	}

	
	// .hero-video-container{
	// 	overflow: hidden;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	z-index: 1;
	// }

	.hero-video{
		background-size: cover;
		position: absolute;
		overflow: hidden;
		z-index: 1;

		/* js, window independent ****************************************************************/

			// filter: grayscale(1);
			// background-size: cover;
			// opacity: 0.87;
			// overflow: hidden;
			// position: absolute;
			// top: 0;
			// left: 0;
			// width: 100%;
			// height: 100%;
			// z-index: 1;

			// &.wide{
			// 	// height: 56.25vw;
			// 	width: 100%;
			// 	// height: 56.25vw;
			// 	top: 50%;
			// 	left: 0;
			// 	transform: translateY(-50%);
			// }

			// &.tall{
			// 	// width: 100%;
			// 	height: 100%;
			// 	top: 0;
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// }

		/* if not 100vh ****************************************************************/
		// width: 100%;
		// height: 56.25vw;
		// top: 50%;
		// left: 0;
		// transform: translateY(-50%);
		
		// // max-width: calc( [hero height]  * 1.778 )
		// @media (max-width: calc(pxem(590) * 1.778)) {
		// 	height: 100%;
		// 	width: 177.78vh;
		// 	top: 0;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }
		/*******************************************************************************/

		@media (min-height : 56.25vw) { /* video h/w raio / hero height (i.e. 56.25 / 0.9 = 62.5vw) */
			height: 100%;
			width: 177.78vh;  /* ((w / h) * 100) * hero height  (like  177.78vh * 0.9 ) */
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		@media (max-height : 56.25vw) { /* video h/w raio / hero height (i.e. 56.25 / 0.9 = 62.5vw) */
			height: 56.25vw; // ( h / w )
			width: 100%;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

		iframe,
		video{
			display: block;
			// filter: blur(0.4rem);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}

.mfp-iframe-holder{
	.mfp-content{
		max-width: 90%;
	}
}

.hero-popup{
	.mfp-content{
		height: 80%;
		width: 90%;
		position: relative;

		.video-outer-wrap{
			aspect-ratio: 16 / 9;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			max-height: 100%;
			max-width: 100%;
		}

		.video-container{
			display: block;
			padding-bottom: 56.25%;
			position: relative;
			width: 100%;

			video,
			iframe{
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.mfp-close{
			color: #fff;
			top: -40px;
			right: -10px;
		}
	}
}

#hero-video-modal-container{
	display: none;

	.mfp-wrap &{
		display: block;
	}
}

.home-section{
	position: relative;

	.bg{
		display: block;
		object-fit: cover;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.container{
		position: relative;
		z-index: 5;
	}

	.section-title{
	}
	.section-subtitle{
	}
}
